.carrouselMujer{
    max-width: 500px;
    margin: auto;
    border: 1px solid;
}
.carousel-control-prev-icon{
    background-color: black;
}
.carousel-control-next-icon{
    background-color: black;
}
#cajilla{
    margin: auto;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sudaderasMujer{
    text-align: center;
    width: 300px;
    background-color: var(--base);
    border: 1px solid var(--texto);
    margin: 15px;
    padding: 5px;
}